@import '../../../../../scss/variables.scss';

:host {
  width: 100%;

  label {
    width: 100%;

    input {
      width: calc(100% - 3rem);
      height: 52px;
      padding: 0 1.5rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 50px;
      outline: none;
      background-color: $tertiary-color;
    }
  }
}
