@import '../../../../../scss/variables.scss';

ul {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem - 40px);
  padding: 1rem;
  overflow-y: auto;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: $tertiary-color;

    &:last-child {
      margin-bottom: 0;
    }

    > div {
      flex: 1;
      margin-left: 15px;

      input {
        width: 100%;
        color: $secondary-color;
        font-size: 1.1rem;
        font-weight: 400;
        border: none;
        outline: none;

        &.completed {
          text-decoration: line-through;
        }
      }
    }

    button {
      border: none;
      cursor: pointer;
      background-color: transparent;
    }

    .input-checkbox {
      position: relative;

      .checkmark {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid $primary-background-color;
        background-color: $primary-background-color;
        position: absolute;
        top: -1px;
        left: 0;
      }

      &:hover input ~ .checkmark {
        border-color: $tertiary-background-color;
      }

      input:checked ~ .checkmark {
        border-color: $tertiary-background-color;
        background-color: $tertiary-background-color;
      }

      .checkmark::after {
        content: '';
        display: none;
        width: 4px;
        height: 9px;
        border: solid $tertiary-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 7px;
        top: 3px;
      }

      input:checked ~ .checkmark::after {
        display: block;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: calc(100% - 2rem);
  height: 60px;
  padding: 0 1rem;
  position: fixed;
  bottom: 20px;
  left: 0;
}
